#screwjack {
    width: 100%;
    max-height: 100%;
    background-color: #9AB8D7;
    /* background-image: url("https://i.ibb.co/DWLz8Zf/Untitled-1.png") ; */
}

.screwjack-main {
    height: auto;
}


.large-screwjack-img {
    object-fit: contain;
    max-height: 70%;
    max-width: 80%;
}




.movie-poster {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
}

.poster {
    height: 33rem;
    width: 22rem;
}

#screwjack-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: auto;
    border: 1px solid black
}

.screw-info2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    width: 60vw;
    padding: 40px;
}

.screw-film {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    
}


.screw-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
}
