.eye-div {
    background-color: purple;
    /* position: absolute; */
    
}
.eye {
  display: block;
  position: absolute;
  transform: scaleX(0.2) scaleY(0.2);
  right: 20%;
  bottom: 10%;
  /* background-color: purple; */
}
  
  #eye-test, #test {
    animation: blink 6s infinite;
    /* opacity: .6; */
    color: purple;
  }
  
  @keyframes blink {
    10% {
      transform: none;
    }
    90% {
      transform: translateY(380px) scaleY(0)
    }
  }