#wolf-photos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
    overflow-y: hidden;
    overflow-x: scroll;
    height: 25%;
    background-color: black;
    border: 4px dotted gray;
   color: white;
  background-color: black;
  width: 100%;
}

.large-wolf-div {
    background-color: #FDC611;
    max-height: 90%;
}

.btn-primary2 {
    max-height: 85%;
    max-width: 95%;
    background-color: #FDC611;
    cursor: pointer;
    border: 4px solid #FDC611;
}

.wolf-pics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-height: 30%;
    width: 99%;
    object-fit: cover;
    
    /* border: 1px solid blue; */
    overflow-y: hidden;
    overflow-x: scroll;
}

.film-description {
    font-size: 1rem;
}

.film-description1 {
    font-size: .8rem;
    font-style: italic;
}
