#navbar {
    height: 3rem;
    background-color: black;
    position: -webkit-sticky;
	position: sticky;
	top: 0;
    text-decoration: none;
    margin: 0;
}



.full-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 3rem;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: white;
    text-decoration: none;
    /* max-width: 30%; */
}

.navigation-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    text-decoration: none;
    /* max-width: 50%; */
}

ul {
    text-decoration: none;
    margin: 0;
    color: white;
}

    ul:visited {
        text-decoration: none;
        /* text-decoration: underline; */
        color: white;
}


ul:hover { text-decoration: none;}
ul:focus { text-decoration: none; }
ul:hover, ul:active { text-decoration: none;}



.logos-navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 30%;
    height: auto;
    padding: 8px;
}

.infinity-print {
    position: relative;
    bottom:7rem;
    /* left: 4.2rem; */
}

.logos-icon {
    color: white;
    height: 3rem;
    width: 1.5rem;
    position: relative;
    right: 1rem;
    padding: 20px;

}